{% extends 'layout.html' %}
{% block content %}
<div id="logo-icon"><img></div>

<a href="/">
    <div id="about-icon">
        <i class="fa fa-home" aria-hidden="true"></i>
    </div>
</a>

<div id="about-grid">
    <div class="about-grid-cell image" id="about-grid-cell-1"><img src="/assets/images/about-illustration-1.png"></div>
    <div class="about-grid-cell text" id="about-grid-cell-2">
        <div class="about-grid-cell-text">
            <div class="h2">Thanksgiving. A festive time for family to come together.</div>
            <div class="h4">But when the fam talks politics, all hell can break loose.</div>
        </div>
    </div>
    <div class="about-grid-cell text" id="about-grid-cell-3">
        <div class="about-grid-cell-text">
            <div class="h2">Political debate is good, but arguments can get out of hand.</div>
            <div class="h4">A convenient distraction - like a phone call! - can give everyone space to breathe and get some perspective. That’s where we come in.</div>
        </div>
    </div>
    <div class="about-grid-cell image" id="about-grid-cell-4"><img src="/assets/images/about-illustration-2.png"></div>
    <div class="about-grid-cell bottom" id="about-grid-cell-5">
        <img src="/assets/images/about-illustration-3.png">
        <div class="about-grid-cell-bottom-text">
            <div class="h2">We make telemarketing calls to interrupt your ranting relatives and keep Thanksgiving grounded!</div>
            <div class="h4">If nothing else, everyone can agree that they hate telemarketers. That’s okay, we’ll take one for the team :) </div>
        </div>
    </div>
</div>

<div id="about-footer">
    <div style="font-weight:700">created by <a href="https://www.nobias.com" target="_blank"><img src="/assets/images/nobias-logo.png" width="125px"></a></div>
    <br>
    <div style="font-weight:700">Keeping you informed of bias and credibility in news media.</div>
    <br>
    <a href="/assets/toc.pdf"><div>Terms of Service</div></a>
    <br>
    <a href="mailto:hello@nobias.com"><div>Contact</div></a>
</div>

{% endblock%}
