{% extends 'layout.html' %}
{% block content %}
<div id="logo-icon"><img></div>

<a href="/">
    <div id="about-icon">
        <i class="fa fa-home" aria-hidden="true"></i>
    </div>
</a>

<div id="about-grid">
    <div class="about-grid-cell image" id="about-grid-cell-1"><img src="/assets/images/about-illustration-1.png"></div>
    <div class="about-grid-cell text" id="about-grid-cell-2">
        <div class="about-grid-cell-text">
            <div class="h2">Thanksgiving dinner is when the family all comes together.</div>
            <div class="h4">But when the fam talks politics, all hell can break loose.</div>
        </div>
    </div>
    <div class="about-grid-cell text" id="about-grid-cell-3">
        <div class="about-grid-cell-text">
            <div class="h2">Political debates are good, but sometimes they get out of hand.</div>
            <div class="h4">To get perspective, you sometimes need a distraction that gives everyone one a chance to take a deep breath.</div>
        </div>
    </div>
    <div class="about-grid-cell image" id="about-grid-cell-4"><img src="/assets/images/about-illustration-2.png"></div>
    <div class="about-grid-cell bottom" id="about-grid-cell-5">
        <img src="/assets/images/about-illustration-3.png">
        <div class="about-grid-cell-bottom-text">
            <div class="h2">Telemarketing call can interrupt your heated debate and keep Thanksgiving on track!</div>
            <div class="h4">We can't guarantee your family will see eye-to-eye on anything, but at least everyone can agree that they hate telemarketers.</div>
        </div>
    </div>
</div>

<div id="about-footer">
    <div style="font-weight:700">created by <img src="/assets/images/nobias-logo.png" width="125px"></div>
    <br>
    <div style="font-weight:700">Keeping you informed of bias and credibility in news media.</div>
</div>

{% endblock%}
